---

---

<nav class="hidden sm:block">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/managed-it">Managed IT</a></li>
        <li><a href="/nonprofits">Nonprofit IT</a></li>
        <li><a href="/contact">Get Support</a></li>
        <li><a href="/About">About Us</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Resources</a></li>
    </ul>
</nav>
